<div class="jumbotron">
  <p id="notice"><%= notice %></p>

  <h1>Lista de Usuarios</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Login</th>
        <th>Senha</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.nome %></td>
          <td><%= usuario.login %></td>
          <td><%= usuario.senha %></td>
          <td><%= link_to 'Ver', usuario, class: "btn btn-xs btn-info" %></td>
          <td><%= link_to 'Editar', edit_usuario_path(usuario), class: "btn btn-xs btn-warning" %></td>
          <td><%= link_to 'Apagar', usuario, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo usuário', new_usuario_path, class: 'btn btn-primary' %>
</div>
