<div class="jumbotron">
  <p id="notice"><%= notice %></p>

  <h1>Lista de Aulas</h1>

  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descricao</th>
        <th>Link youtube</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @aulas.each do |aula| %>
        <tr>
          <td><%= aula.titulo %></td>
          <td><%= aula.descricao %></td>
          <td><%= aula.link_youtube %></td>
          <td><%= link_to 'Show', aula, class: "btn btn-xs btn-info" %></td>
          <td><%= link_to 'Edit', edit_aula_path(aula), class: "btn btn-xs btn-warning" %></td>
          <td><%= link_to 'Destroy', aula, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nova aula', new_aula_path, class: "btn btn-primary" %>
</div>
