<div class="jumbotron">
	<p id="notice"><%= notice %></p>

	<p class="titulo">
	  <strong>Titulo:</strong>
	  <%= @aula.titulo %>
	</p>

	<p class="descricao">
	  <strong>Descricao:</strong>
	  <%= @aula.descricao %>
	</p>

	<p class="link_youtube">
	  <strong>Link youtube:</strong>
	  <%= @aula.link_youtube %>
	</p>

	<%= link_to 'Editar', edit_aula_path(@aula), class: "btn btn-warning" %> |
	<%= link_to 'Voltar', aulas_path, class: "btn btn-default" %>
</div>
