  <!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { titulo: "Projeto torne-se um programador - aulas" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header', {display_loading: 'block'}) %>
    <div class="coluna1">
      <div class="top">
        <%- include('../shared/adsense') %>
      </div>
      <div class="container margin">
        <br>
        <div class="buttons">
          <a class="button" href="/" >Voltar</a>
        </div>
        <div>
          <ul id="videos"></ul>
        </div>
        <div class="voltarTopo">
          <a href="#">
            <img src="/imagens/voltar-topo.png">
          </a>
        </div>
      </div>
      <%- include('../shared/adsense') %>
      <%- include('../shared/form') %>
      <%- include('../shared/donate') %>
    </div>
    <%- include('../shared/sidebar') %>
    <%- include('../shared/footer') %>
  </body>
</html>
