<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Projeto torne-se um programador - aulas" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header', {display_loading: 'block'}) %>
    <div class="coluna1">
      <div class="top">
        <%- include('../shared/adsense') %>
      </div>
      <div class="container margin">
        <br>
        <div class="buttons aula">
          <% if(tipo == 'iniciante'){ %>
            <a class="button" href="/aulas/iniciante" >Voltar</a>
          <% }else{ %>
            <a class="button" href="/aulas" >Voltar</a>
          <% } %>
        </div>
        <div>
          <div id="video_container">
            <h3 id="titulo"></h3>
            <p id="descricao"></p>
            <div id="video"></div>
            <div id="fb-root"></div>
            <%- include('../shared/share') %>
          </div>
        </div>
      </div>
      <%- include('../shared/form') %>
      <%- include('../shared/adsense') %>
      <%- include('../shared/facelike') %>
      <%- include('../shared/donate') %>
    </div>
    <%- include('../shared/sidebar') %>
    <%- include('../shared/footer') %>
  </body>
</html>