<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', {
      titulo: "Projeto torne-se um programador - " + aula.titulo,
      descricao: aula.descricao,
      url: "http://www.torneseumprogramador.com.br/aula?id=" + aula.videoYoutube,
      imagem: "http://img.youtube.com/vi/" + aula.videoYoutube + "/maxresdefault.jpg",
    }) %>
  </head>
  <body class="home">
    <%- include('../shared/header', {display_loading: 'block'}) %>
    <div class="coluna1">
      <div class="top">
        <%- include('../shared/adsense') %>
      </div>
      <div class="container margin">
        <br>
        <div class="buttons aula">
          <% if(tipo == 'iniciante'){ %>
            <a class="button" href="/aulas/iniciante" >Voltar</a>
          <% }else{ %>
            <a class="button" href="/aulas" >Voltar</a>
          <% } %>
        </div>
        <div>
          <div id="video_painel">
            <h3 id="titulo"><%= aula.titulo %></h3>
            <p id="descricao"><%= aula.descricao %></p>
            <div id="video">
              <iframe onload="app.hideLoading()" src="https://www.youtube.com/embed/<%= aula.videoYoutube %>" frameborder="0" allowfullscreen></iframe>
            </div>
            <div id="fb-root"></div>
            <%- include('../shared/share', {url: 'http://www.torneseumprogramador.com.br/aula?id=' + aula.videoYoutube}) %>
          </div>
        </div>
      </div>
      <%- include('../shared/form') %>
      <%- include('../shared/adsense') %>
      <%- include('../shared/facelike') %>
      <%- include('../shared/donate') %>
    </div>
    <%- include('../shared/sidebar') %>
    <%- include('../shared/footer') %>
  </body>
</html>